/*
 *
 * TOMS KEYMAP

# https://github.com/pandrr/blank-slate-zmk-config

 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

//#define TBLE_ORTHO   1
#define TBLE_MIT     1
//#define TBLE_DUAL_2U 1

#define BT_L 1
#define NUM_L 2
#define HYP_L 3
#define SYM_L 4
#define NAV_L 5

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { 
    quick_tap_ms = <150>; 
    flavor = "balanced";
};
&mt { 
    quick_tap_ms = <150>; 
    flavor = "balanced";
};

#define BT(n) BT_SEL n
#define HY(k) LG(LC(LA(LS(k))))  

/ {
    chosen {
        zmk,physical-layout =
            #ifdef TBLE_DUAL_2U
               &layout_ortho_4x12_2x2u;
            #elif defined(TBLE_MIT)
               &layout_ortho_4x12_1x2u;
            #else
               &layout_ortho_4x12_all1u;
            #endif
    };

    
    tap_dances {
    	shifty: shift_caps_word {
        	compatible = "zmk,behavior-tap-dance";
        	label = "TD_SHIFTY";
        	#binding-cells = <0>;
        	tapping-term-ms = <150>;
        	bindings = <&kp LSHFT>, <&caps_word>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <

////////////////////////////////////////////////////////////
//
//  ESC    Q   W   F   P   B      J   L   U   Y   :    BSP
//  TAB    A   S   R   T   G      M   N   E   I   O    ENT
//  SHFT   Z   X   C   V   K      K   H   ,   .   UP   /
//  -     ALT CTL GUI BSP GUI   SPCE HYP NAV LFT DOWN  RGHT
//
////////////////////////////////////////////////////////////

// &kp ESC     &kp Q      &kp W      &kp E       &kp R        &kp T        &kp Y        &kp U          &kp I       &kp O      &kp P       &kp BKSP
// &kp TAB     &kp A      &kp S      &kp D       &kp F        &kp G        &kp H        &kp J          &kp K       &kp L      &kp SEMI    &kp RET
// &kp LSHFT   &kp Z      &kp X      &kp C       &kp V        &kp B        &kp N        &kp M          &kp COMMA   &kp DOT    &kp UP      &kp SLASH

&kp Q      &kp W      &kp F       &kp P        &mt LALT B     &kp LALT &kp LCTL  &mt LALT  J        &kp L          &kp U       &kp Y      &kp BKSP
&kp A      &kp S      &kp R       &kp T        &kp G     &trans   &trans    &kp M        &kp N          &kp E       &kp I      &kp O       
&kp Z      &kp X      &kp C       &kp D        &mt LCTL V     &trans   &trans    &mt LCTL K        &kp H          &kp COMMA   &kp DOT    &kp SLASH      

 &trans      &trans   &trans  &mt LSFT ESC  &mt LGUI RET    &trans   &lt NAV_L SPACE   &lt NUM_L TAB  &trans &trans   &trans &trans

            >;
        };

        bt_layer {
            label = "bt";
            bindings = <
&trans  &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &bootloader
&trans  &kp F11    &kp F12    &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   &studio_unlock
&trans  &bt BT(0)  &bt BT(1)  &bt BT(2)  &bt BT(3)  &bt BT(4)  &trans  &trans  &trans  &trans  &trans   &bt BT_CLR
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   &trans

            >;
        };
///////////////////////////////////////////////////////
//
//      Q   W   F   P   B   J   L   U   Y   :
// 
//  ??  1   2   3   4   5   6   7   8   9   0   &&
//  ??  ~   [   {   (   -   +   )   }   ]   |   &&
//  ??  ??  `   '   "   _   =   :   ;   .   ..  \  
//
/////////////////////////////////////////////////////// 


        num_layer {
            label = "Num";
            bindings = <
    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5    &trans &trans  &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     
    &kp TILDE  &kp LBKT   &kp LBRC   &kp LPAR   &kp MINUS &trans &trans  &kp PLUS   &kp RPAR   &kp RBRC   &kp RBKT   &kp PIPE    
    &trans     &kp GRAVE  &kp SQT    &kp DQT    &kp UNDER &trans &trans  &kp EQUAL  &kp COLON  &kp SEMI   &kp DOT    &kp BSLH
    &trans     &trans     &trans     &trans     &trans    &trans &trans  &mo BT_L   &trans     &trans     &trans     
            >;
        };

        hyp_layer {
            label = "hyp";
            bindings = <
&trans        &kp HY(Q)      &kp HY(W)      &kp HY(F)       &kp HY(P)        &kp HY(B)        &kp HY(J)        &kp HY(L)    &kp UP       &kp HY(Y)      &trans   &trans
&kp LG(TILDE) &kp HY(A)      &kp HY(S)      &kp HY(R)       &kp F16          &kp HY(G)        &kp HY(M)        &kp LEFT     &kp DOWN     &kp RIGHT      &kp HY(O)       &trans
&trans        &kp HY(Z)      &kp HY(X)      &kp HY(C)       &kp HY(D)        &kp HY(V)        &kp HY(K)        &kp C_PP     &kp C_VOL_DN &kp C_VOL_UP &kp HY(UP) &trans
&trans        &trans  &trans  &trans &trans     &kp HY(SPACE)  &trans  &trans   &kp HY(LEFT)  &kp HY(DOWN)  &kp HY(RIGHT)

            >;
        };    

        sym2_layer {
            label = "sym2";
            bindings = <
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans     &trans     &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans   
            >;
        };

        nav_layer {
            label = "nav";
            bindings = <
&kp ESC &kp HY(N1) &kp HY(N2)  &kp HY(N3)  &kp HY(N4)  &trans  &trans  &kp HY(N5) &kp HOME  &kp UP    &kp END  &kp DEL  
&trans  &kp HY(LEFT)    &kp HY(SPACE)      &kp HY(RIGHT)   &trans    &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp RET   
&trans  &trans     &trans     &trans     &trans    &trans  &trans  &trans  &kp C_PP    &kp C_VOL_DN &kp C_VOL_UP  &trans   
&trans  &trans     &trans     &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans     
            >;
        };


    };
};

